<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    配置 log4j 作為輸出日誌-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
<!--配置常用 package 別名-->
    <typeAliases>
        <package name="com.frizo.lab.mybatis.model"/>
    </typeAliases>
<!--配置資料庫連線-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?serverTimezone=UTC&amp;characterEncoding=utf-8"/>
                <property name="username" value="root"/>
                <property name="password" value="Jarvan1110"/>
            </dataSource>
        </environment>
    </environments>

<!--    MyBatis 的 SQL 語句與映射配置文件-->
    <mappers>
        <mapper resource="com/frizo/lab/mybatis/mapper/CountryMapper.xml"/>
    </mappers>
</configuration>